<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.ipn.mx.controller.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>com.ipn.mx.controller.servlets.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.ipn.mx.controller.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>com.ipn.mx.controller.servlets.Redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAlumno</servlet-name>
        <servlet-class>com.ipn.mx.controller.servlets.admin.AddAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriasServlet</servlet-name>
        <servlet-class>com.ipn.mx.controller.servlets.admin.MateriasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesoresServlet</servlet-name>
        <servlet-class>com.ipn.mx.controller.servlets.admin.ProfesoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnosServlet</servlet-name>
        <servlet-class>com.ipn.mx.controller.servlets.admin.AlumnosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CentroDeTrabajoServlet</servlet-name>
        <servlet-class>com.ipn.mx.controller.servlets.admin.CentroDeTrabajoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoServlet</servlet-name>
        <servlet-class>com.ipn.mx.controller.servlets.alumno.AlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvioDatosPersonalesServlet</servlet-name>
        <servlet-class>com.ipn.mx.controller.servlets.EnvioDatosPersonalesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AyudaServlet</servlet-name>
        <servlet-class>com.ipn.mx.controller.servlets.AyudaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarExamenServlet</servlet-name>
        <servlet-class>com.ipn.mx.controller.servlets.profesor.GuardarExamenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/Redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAlumno</servlet-name>
        <url-pattern>/AddAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriasServlet</servlet-name>
        <url-pattern>/MateriasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesoresServlet</servlet-name>
        <url-pattern>/ProfesoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnosServlet</servlet-name>
        <url-pattern>/AlumnosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CentroDeTrabajoServlet</servlet-name>
        <url-pattern>/CentroDeTrabajoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoServlet</servlet-name>
        <url-pattern>/AlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvioDatosPersonalesServlet</servlet-name>
        <url-pattern>/EnvioDatosPersonalesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AyudaServlet</servlet-name>
        <url-pattern>/AyudaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarExamenServlet</servlet-name>
        <url-pattern>/GuardarExamenServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
